urn-ediel-org-neg-ecan-allocationresultdocument-2-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 (http://www.altova.com) by Ove (EdiSys Consulting AS) -->
<xsd:schema xmlns:ecc="urn:entsoe.eu:wgedi:components" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:ediel:org:neg:ecan:allocationresultdocument:2:0" xmlns:ns1="urn:ediel:org:neg:ecan:allocationresultdocument:1:0" targetNamespace="urn:ediel:org:neg:ecan:allocationresultdocument:2:0" elementFormDefault="qualified" attributeFormDefault="unqualified" ecc:VersionRelease="15.0">
	<xsd:import namespace="urn:entsoe.eu:wgedi:components" schemaLocation="../../core/urn-entsoe-eu-wgedi-components.xsd"/>
	<xsd:include schemaLocation="urn-ediel-org-neg-ecan-allocationresultdocument-2-0-restricted-codes.xsd"/>
	<!--
			ENTSO-E Document Automatically generated from a UML class diagram using XMI. Generation tool version 1.7
			NEG ECAN Allocation Result Document version 2.0. NTC (Nordic Ediel Group Technical Commeettee)
			Change log:
				20160628 Extended with BidResponsibleIdentification
		-->
	<xsd:complexType name="Interval_Type">
		<xsd:sequence>
			<xsd:element name="Pos" type="ecc:PositionType"/>
			<xsd:element name="Qty" type="ecc:QuantityType" minOccurs="0"/>
			<xsd:element name="SellingQty" type="ecc:QuantityType" minOccurs="0"/>
			<xsd:element name="BuyingQty" type="ecc:QuantityType" minOccurs="0"/>
			<xsd:element name="PriceAmount" type="ecc:AmountType" minOccurs="0"/>
			<xsd:element name="BidQty" type="ecc:QuantityType" minOccurs="0"/>
			<xsd:element name="BidPriceAmount" type="ecc:AmountType" minOccurs="0"/>
			<xsd:element name="Reason" type="Reason_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Period_Type">
		<xsd:sequence>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType"/>
			<xsd:element name="Resolution" type="ecc:ResolutionType"/>
			<xsd:element name="Interval" type="Interval_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AllocationTimeSeries_Type">
		<xsd:sequence>
			<xsd:element name="TimeSeriesIdentification" type="ecc:IdentificationType"/>
			<xsd:element name="PortfolioIdentification" type="ecc:IdentificationType" minOccurs="0"/>
			<xsd:element name="BidDocumentIdentification" type="ecc:IdentificationType"/>
			<xsd:element name="BidDocumentVersion" type="ecc:VersionType"/>
			<xsd:element name="BidIdentification" type="ecc:IdentificationType" minOccurs="0"/>
			<xsd:element name="BidResponsibleIdentification" type="ecc:IdentificationType"/>
			<xsd:element name="AuctionIdentification" type="ecc:IdentificationType"/>
			<xsd:element name="BusinessType" type="BusinessType"/>
			<xsd:element name="InArea" type="AreaType"/>
			<xsd:element name="OutArea" type="AreaType"/>
			<xsd:element name="ContractType" type="ContractType"/>
			<xsd:element name="ContractIdentification" type="ecc:IdentificationType"/>
			<xsd:element name="MeasureUnitQuantity" type="UnitOfMeasureType"/>
			<xsd:element name="Currency" type="ecc:CurrencyType" minOccurs="0"/>
			<xsd:element name="MeasureUnitPrice" type="UnitOfMeasureType" minOccurs="0"/>
			<xsd:element name="CurveType" type="ecc:CurveType" minOccurs="0"/>
			<xsd:element name="ClassificationCategory" type="ecc:CategoryType" minOccurs="0"/>
			<xsd:element name="Period" type="Period_Type" maxOccurs="unbounded"/>
			<xsd:element name="Reason" type="Reason_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AllocationResultDocument">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DocumentIdentification" type="ecc:IdentificationType"/>
				<xsd:element name="DocumentVersion" type="ecc:VersionType"/>
				<xsd:element name="DocumentType" type="DocumentType"/>
				<xsd:element name="ProcessType" type="ProcessType" minOccurs="0"/>
				<xsd:element name="SenderIdentification" type="PartyType"/>
				<xsd:element name="SenderRole" type="RoleType"/>
				<xsd:element name="ReceiverIdentification" type="PartyType"/>
				<xsd:element name="ReceiverRole" type="RoleType"/>
				<xsd:element name="CreationDateTime" type="ecc:DocumentDateTimeType"/>
				<xsd:element name="BidTimeInterval" type="ecc:TimeIntervalType"/>
				<xsd:element name="Domain" type="AreaType"/>
				<xsd:element name="SubjectParty" type="PartyType"/>
				<xsd:element name="SubjectRole" type="RoleType"/>
				<xsd:element name="AllocationTimeSeries" type="AllocationTimeSeries_Type" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="Reason" type="Reason_Type" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Reason_Type">
		<xsd:sequence>
			<xsd:element name="ReasonCode" type="ReasonCodeType"/>
			<xsd:element name="ReasonText" type="ecc:ReasonTextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
