urn-entsoe-eu-local-extension-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecl="urn:entsoe.eu:wgedi:codelists" elementFormDefault="qualified">
	<xsd:simpleType name="LocalAllocationModeType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalAssetType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
			<xsd:enumeration value="Z01"/>
			<xsd:enumeration value="Z02"/>
			<xsd:enumeration value="Z04"/>
			<xsd:enumeration value="Z05"/>
			<xsd:enumeration value="Z06"/>
			<xsd:enumeration value="Z07"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalAuctionType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalBusinessType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
			<xsd:enumeration value="A04"/>
			<xsd:enumeration value="A10"/>
			<xsd:enumeration value="A66"/>
			<xsd:enumeration value="A77"/>
			<xsd:enumeration value="A78"/>
			<xsd:enumeration value="A79"/>
			<xsd:enumeration value="B14"/>
			<xsd:enumeration value="Z02"/>
			<xsd:enumeration value="Z03"/>
			<xsd:enumeration value="Z06"/>
			<xsd:enumeration value="Z17"/>
			<xsd:enumeration value="Z18"/>
			<xsd:enumeration value="Z32"/>
			<xsd:enumeration value="Z35"/>
			<xsd:enumeration value="Z36"/>
			<xsd:enumeration value="Z38"/>
			<xsd:enumeration value="Z39"/>
			<xsd:enumeration value="Z40"/>
			<xsd:enumeration value="Z41"/>
			<xsd:enumeration value="Z42"/>
			<xsd:enumeration value="Z43"/>
			<xsd:enumeration value="Z44"/>
			<xsd:enumeration value="Z50"/>
			<xsd:enumeration value="Z52"/>
			<xsd:enumeration value="Z53"/>
			<xsd:enumeration value="Z54"/>
			<xsd:enumeration value="Z62"/>
			<xsd:enumeration value="Z63"/>
			<xsd:enumeration value="Z64"/>
			<xsd:enumeration value="Z65"/>
			<xsd:enumeration value="Z66"/>
			<xsd:enumeration value="Z67"/>
			<xsd:enumeration value="Z68"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalCategoryType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalClassificationType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
			<xsd:enumeration value="A02"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalCodingSchemeType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalContractType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalCurrencyType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="EUR"/>
			<xsd:enumeration value="LTL"/>
			<xsd:enumeration value="RUB"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalCurveType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalDirectionType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalEicType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalHVDCModeType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalEnergyProductType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="13"/>
			<xsd:enumeration value="8716867000030"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalIndicatorType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalDocumentType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
			<xsd:enumeration value="A07"/>
			<xsd:enumeration value="A12"/>
			<xsd:enumeration value="A14"/>
			<xsd:enumeration value="A38"/>
			<xsd:enumeration value="A44"/>
			<xsd:enumeration value="A55"/>
			<xsd:enumeration value="A59"/>
			<xsd:enumeration value="A60"/>
			<xsd:enumeration value="E31"/>
			<xsd:enumeration value="E66"/>
			<xsd:enumeration value="Z03"/>
			<xsd:enumeration value="Z05"/>
			<xsd:enumeration value="Z06"/>
			<xsd:enumeration value="Z07"/>
			<xsd:enumeration value="Z10"/>
			<xsd:enumeration value="Z11"/>
			<xsd:enumeration value="Z12"/>
			<xsd:enumeration value="Z13"/>
			<xsd:enumeration value="Z14"/>
			<xsd:enumeration value="Z16"/>
			<xsd:enumeration value="Z17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalObjectAggregationType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
			<xsd:enumeration value="Z01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalPaymentTermsType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalPriceCategoryType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalPriceDirectionType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalProcessType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
			<xsd:enumeration value="A06"/>
			<xsd:enumeration value="A13"/>
			<xsd:enumeration value="A17"/>
			<xsd:enumeration value="A28"/>
			<xsd:enumeration value="Z01"/>
			<xsd:enumeration value="Z02"/>
			<xsd:enumeration value="Z03"/>
			<xsd:enumeration value="Z04"/>
			<xsd:enumeration value="Z05"/>
			<xsd:enumeration value="Z07"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalQualityType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalReasonCodeType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
			<xsd:enumeration value="A06"/>
			<xsd:enumeration value="A09"/>
			<xsd:enumeration value="A48"/>
			<xsd:enumeration value="A85"/>
			<xsd:enumeration value="A86"/>
			<xsd:enumeration value="Z01"/>
			<xsd:enumeration value="Z02"/>
			<xsd:enumeration value="Z04"/>
			<xsd:enumeration value="Z05"/>
			<xsd:enumeration value="Z06"/>
			<xsd:enumeration value="Z07"/>
			<xsd:enumeration value="Z08"/>
			<xsd:enumeration value="Z18"/>
			<xsd:enumeration value="Z22"/>
			<xsd:enumeration value="Z23"/>
			<xsd:enumeration value="Z24"/>
			<xsd:enumeration value="Z25"/>
			<xsd:enumeration value="Z26"/>
			<xsd:enumeration value="Z27"/>
			<xsd:enumeration value="Z28"/>
			<xsd:enumeration value="Z29"/>
			<xsd:enumeration value="Z30"/>
			<xsd:enumeration value="Z31"/>
			<xsd:enumeration value="Z32"/>
			<xsd:enumeration value="Z33"/>
			<xsd:enumeration value="Z34"/>
			<xsd:enumeration value="Z35"/>
			<xsd:enumeration value="Z36"/>
			<xsd:enumeration value="Z37"/>
			<xsd:enumeration value="Z38"/>
			<xsd:enumeration value="Z39"/>
			<xsd:enumeration value="Z99"/>
			<xsd:enumeration value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalRightsType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalRoleType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
			<xsd:enumeration value="A05"/>
			<xsd:enumeration value="Z05"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalStatusType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalTarifTypeType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="A01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalUnitOfMeasureType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="KWH"/>
			<xsd:enumeration value="MAW"/>
			<xsd:enumeration value="MWH"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalUnitSymbolType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
			<xsd:enumeration value="KWT"/>
			<xsd:enumeration value="MAW"/>
			<xsd:enumeration value="MWH"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
