API/XSD/NEG Schemas for Nord Pool/schemas/Documents/NEG-AuctionSpecification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by Erik Gustavsen (EdiSys Consulting AS) -->
<xsd:schema xmlns:ecc="urn:entsoe.eu:wgedi:components" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="AuctionSpecification:1:0" targetNamespace="AuctionSpecification:1:0" elementFormDefault="qualified" attributeFormDefault="unqualified" ecc:VersionRelease="15.0">
	<xsd:import namespace="urn:entsoe.eu:wgedi:components" schemaLocation="../../core/urn-entsoe-eu-wgedi-components.xsd"/>
	<xsd:include schemaLocation="NEG-AuctionSpecification-restricted-codes.xsd"/>
	<!--
			ENTSO-E Document Automatically generated from a UML class diagram using XMI. 
			Generation tool version 1.7
		-->
	<xsd:complexType name="Interval_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Pos" type="ecc:PositionType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Qty" type="ecc:QuantityType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ClassificationPeriod_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StartTime" type="ecc:TimeType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndTime" type="ecc:TimeType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Period_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Resolution" type="ecc:ResolutionType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Interval" type="Interval_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AuctionTimeSeries_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AuctionIdentification" type="ecc:IdentificationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BusinessType" type="BusinessType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AuctionType" type="AuctionType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BiddingPeriod" type="ecc:TimeIntervalType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InArea" type="AreaType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OutArea" type="AreaType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContractType" type="ContractType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DeliveryPeriod" type="ecc:TimeIntervalType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AllocationMode" type="AllocationModeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PaymentTerms" type="PaymentTermsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MeasureUnitQuantity" type="UnitOfMeasureQtyType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MeasureUnitPrice" type="ecc:UnitOfMeasureType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Currency" type="CurrencyType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CurveType" type="CurveType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Cancelled" type="ecc:IndicatorType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaxPrice" type="ecc:AmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinPrice" type="ecc:AmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ClassificationPeriod" type="ClassificationPeriod_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AuctionDescription" type="AuctionDescription_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Reason" type="Reason_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CapacityAuctionSpecificationDocument">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation/>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="DocumentIdentification" type="ecc:IdentificationType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentVersion" type="ecc:VersionType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentType" type="DocumentType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ProcessType" type="ProcessType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderIdentification" type="PartyType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderRole" type="SenderRoleType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverIdentification" type="PartyType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverRole" type="ReceiverRoleType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CreationDateTime" type="ecc:DocumentDateTimeType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentTimeInterval" type="ecc:TimeIntervalType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Domain" type="AreaType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AuctionTimeSeries" type="AuctionTimeSeries_Type" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AuctionDescription_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LineNo" type="ecc:PositionType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LineText" type="ecc:ReasonTextType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RightsCharacteristics_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RightsType" type="ecc:RightsType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Reason_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Reasoncode" type="ecc:ReasonCodeType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReasonText" type="ecc:ReasonTextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
