API/XSD/NEG Schemas for Nord Pool/schemas/Documents/urn-entsoe-eu-wgedi-acknowledgement-acknowledgementdocument-6-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ecc="urn:entsoe.eu:wgedi:components" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:entsoe.eu:wgedi:acknowledgement:acknowledgementdocument:6:0" targetNamespace="urn:entsoe.eu:wgedi:acknowledgement:acknowledgementdocument:6:0" elementFormDefault="qualified" attributeFormDefault="unqualified" ecc:VersionRelease="23.0">
	<xsd:import namespace="urn:entsoe.eu:wgedi:components" schemaLocation="../../core/urn-entsoe-eu-wgedi-components.xsd"/>
	<xsd:include schemaLocation="urn-entsoe-eu-wgedi-acknowledgement-acknowledgementdocument-6-0-restricted-codes.xsd"/>
	<!--
			ENTSO-E Document Automatically generated from a UML class diagram using XMI. 
			Generation tool version 2.0
		-->
	<xsd:element name="AcknowledgementDocument">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation/>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="DocumentIdentification" type="ecc:IdentificationType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentDateTime" type="ecc:DocumentDateTimeType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderIdentification" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverIdentification" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverRole" type="ecc:RoleType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceivingDocumentIdentification" type="ecc:IdentificationType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceivingDocumentVersion" type="ecc:VersionType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceivingDocumentType" type="ecc:DocumentType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceivingPayloadName" type="ecc:LongIdentificationType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DateTimeReceivingDocument" type="ecc:DocumentDateTimeType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TimeSeriesRejection" type="TimeSeriesRejection_Type" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="Reason" type="Reason_Type" maxOccurs="unbounded"/>
				<xsd:element name="TimeIntervalError" type="TimeIntervalError_Type" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TimeSeriesRejection_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SendersTimeSeriesIdentification" type="ecc:IdentificationType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SendersTimeSeriesVersion" type="ecc:VersionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TimeIntervalError" type="TimeIntervalError_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Reason" type="Reason_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TimeIntervalError_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="QuantityTimeInterval" type="ecc:TimeIntervalType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Reason" type="Reason_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Reason_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReasonCode" type="ReasonCodeType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReasonText" type="ecc:ReasonTextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
