API/XSD/NEG Schemas for Nord Pool Spot 20141030/schemas/Documents/NEG-CurrencyExchangeRateDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 (http://www.altova.com) by Ove Nesvik (EdiSys Consulting AS) -->
<xsd:schema xmlns:ecc="urn:entsoe.eu:wgedi:components" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="CurrencyExchangeRate:1:0" targetNamespace="CurrencyExchangeRate:1:0" elementFormDefault="qualified" attributeFormDefault="unqualified" ecc:VersionRelease="15.0">
	<xsd:import namespace="urn:entsoe.eu:wgedi:components" schemaLocation="../../core/urn-entsoe-eu-wgedi-components.xsd"/>
	<xsd:include schemaLocation="NEG-CurrencyExchangeRateDocument-restricted-codes.xsd"/>
	<!--
			ENTSO-E Document Automatically generated from a UML class diagram using XMI. 
			Generation tool version 1.7
		-->
	<xsd:complexType name="ReasonType">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReasonCode" type="ReasonCodeType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReasonText" type="ecc:ReasonTextType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CurrencyExchangeRateType">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReferenceCurrency" type="ecc:CurrencyType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TargetCurrency" type="ecc:CurrencyType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CurrencyExchangeRate" type="ecc:QuantityType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Reason" type="ReasonType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CurrencyExchangeRateDocument">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation/>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="DocumentIdentification" type="ecc:IdentificationType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentVersion" type="ecc:VersionType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentType" type="DocumentType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderIdentification" type="PartyType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderRole" type="SenderRoleType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverIdentification" type="PartyType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverRole" type="ReceiverRoleType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CreationDateTime" type="ecc:DocumentDateTimeType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CurrencyExchangeRateDateTime" type="ecc:DateType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CurrencyExchangeRate" type="CurrencyExchangeRateType" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
