API/XSD/NEG Schemas for Nord Pool Spot 20141030/schemas/Documents/NEG-AreaSpecification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by Erik Gustavsen (EdiSys Consulting AS) -->
<xsd:schema xmlns:ecc="urn:entsoe.eu:wgedi:components" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="AreaSpecification:1:0" targetNamespace="AreaSpecification:1:0" elementFormDefault="qualified" attributeFormDefault="unqualified" ecc:VersionRelease="15.0">
	<xsd:import namespace="urn:entsoe.eu:wgedi:components" schemaLocation="../../core/urn-entsoe-eu-wgedi-components.xsd"/>
	<xsd:include schemaLocation="NEG-AreaSpecification-restricted-codes.xsd"/>
	<!--
			ENTSO-E Document Automatically generated from a UML class diagram using XMI. 
			Generation tool version 1.7
		-->
	<xsd:simpleType name="TypeOfAreaList">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="Z01">
				<xsd:annotation>
					<xsd:documentation>
						<CodeDescription>
							<Definition>Market Balance Area (MBA)</Definition>
						</CodeDescription>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Z02">
				<xsd:annotation>
					<xsd:documentation>
						<CodeDescription>
							<Definition>Metering Grid Area (MGA)</Definition>
						</CodeDescription>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeOfMGAList">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="Z01">
				<xsd:annotation>
					<xsd:documentation>
						<CodeDescription>
							<Definition>Regional</Definition>
						</CodeDescription>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Z02">
				<xsd:annotation>
					<xsd:documentation>
						<CodeDescription>
							<Definition>Only losses</Definition>
						</CodeDescription>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Z03">
				<xsd:annotation>
					<xsd:documentation>
						<CodeDescription>
							<Definition>Industrial</Definition>
						</CodeDescription>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Z04">
				<xsd:annotation>
					<xsd:documentation>
						<CodeDescription>
							<Definition>Distribution</Definition>
						</CodeDescription>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Z05">
				<xsd:annotation>
					<xsd:documentation>
						<CodeDescription>
							<Definition>Non-consessional</Definition>
						</CodeDescription>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountryIdentifierList">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="FI">
				<xsd:annotation>
					<xsd:documentation>
						<CodeDescription>
							<Definition>Finland</Definition>
						</CodeDescription>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NO">
				<xsd:annotation>
					<xsd:documentation>
						<CodeDescription>
							<Definition>Norway</Definition>
						</CodeDescription>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SE">
				<xsd:annotation>
					<xsd:documentation>
						<CodeDescription>
							<Definition>Sweden</Definition>
						</CodeDescription>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TypeOfAreaType">
		<xsd:attribute name="v" type="TypeOfAreaList" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="CountryIdentifier">
		<xsd:attribute name="v" type="CountryIdentifierList" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="TypeOfMGA">
		<xsd:attribute name="v" type="TypeOfMGAList" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ConnectionDetail_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ComponentIdentification" type="ecc:ResourceObjectType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ComponentType" type="ComponentAssetType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AreaIdentification" type="ecc:AreaType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BorderConnection_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BorderComponentType" type="AssetType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BorderComponentIdentification" type="ecc:ResourceObjectType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConnectionDetail" type="ConnectionDetail_Type" minOccurs="0" maxOccurs="2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RelatedArea_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AreaIdentification" type="AreaType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TypeOfArea" type="TypeOfAreaType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AreaSpecificationDetails_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="AreaIdentification" type="AreaType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TypeOfArea" type="TypeOfAreaType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Country" type="CountryIdentifier" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AreaName" type="ecc:TextType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SystemOperatorIdentification" type="PartyType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MGAType" type="TypeOfMGA" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BorderConnection" type="BorderConnection_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RelatedArea" type="RelatedArea_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ValidityPeriod_Type">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ValidityStart" type="ecc:DocumentDateTimeType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ValidityEnd" type="ecc:DocumentDateTimeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="AreaSpecificationDetails" type="AreaSpecificationDetails_Type" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="ConnectionDetail" type="ConnectionDetail_Type" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AreaSpecificationDocument">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation/>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="DocumentIdentification" type="ecc:IdentificationType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentType" type="DocumentType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ProcessType" type="ProcessType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderIdentification" type="PartyType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderRole" type="SenderRoleType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverIdentification" type="PartyType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverRole" type="ReceiverRoleType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="CreationDateTime" type="ecc:DocumentDateTimeType">
					<xsd:annotation>
						<xsd:documentation/>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ValidityPeriod" type="ValidityPeriod_Type" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
